<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'ID: ' + book.getId()}">Title</title>
</head>
<body>
<dl>
    <dt th:text="${'Название книги: ' + book.getTitle()}"></dt>
    <dt th:text="${'Автор: ' + book.getAuthor()}"></dt>
    <dt th:text="${'Год издания: ' + book.getYear()}"></dt>
</dl>


<div th:if="${owner}">
    <span th:text="${'Книга сейчас у: ' + owner.getFullName()}">Owner Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<div th:if="${people}">
    <span th:text="${'Эта книга свободна. Кому назначить её?'}"></span>

    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<div>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input style="float: left;margin-right: 5px" type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</div>

<div>
    <button type="button" onclick="location.href='/books'">Перейти к списку книг</button>
</div>

</body>
</html>