<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>
<dl>
    <div th:each="person : ${people}">
        <dt>
            <a th:href="@{/people/{id}(id=${person.getId()})}"
               th:text="${person.getFullName() + ', ' + person.getBirthYear()}">
            </a>
        </dt>
    </div>
</dl>
<div>
    <button type="button" onclick="location.href='/people/new'">Добавить человека</button>
    <br/>
    <button type="button" onclick="location.href='/books'">Перейти к списку книг</button>
</div>

</body>
</html>